main {
    padding: 20px;
}

main h2 {
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}